.iconFermeture{
    position: absolute;
    margin: 1vh;
    right: 0;
    top: 0;
    z-index: 100;
}

.nucleo-icons-style,
.nucleo-icons-style {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.center{
    
    margin-right: auto;
    margin-left: auto;
}
.card-body {
    padding: 0;
}


.nucleo-icons-style {
    line-height: 1;
}

.btn{
    vertical-align: middle;
}

.nucleo-icons-style {
    font-size: 62.5%;
}

.nucleo-icons-style {
    font-size: 1.6rem;
    font-family: sans-serif;
    color: #333333;
    background: #efefef;
}



.now-ui-icons {
    display: inline-block;
    font: normal normal normal 32px/1 'Nucleo Outline';
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}