.now-ui-icons {
    display: inline-block;
    font: normal normal normal 60px/1 'Nucleo Outline';
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}