.logo{
    height: 100%;
}

.page-header.page-header-mini {
    min-height: 10vh;
}

.card-pricing{
    border: thin solid;
}

.creerMonCompte{
    color: white !important;
}


.card-pricing{
    border: thin solid;
}


.copyright{
    bottom: 0;
    position: absolute;
    right: 2vh;
    z-index: 10;
}