<div type="button" class = "iconFermeture" (click)="closeModal()">
    <i class="now-ui-icons ui-1_simple-remove"></i>
</div>
<div class="modal-dialog">
    
    <div class="modal-content">
    <div class="modal-header">
        <h3>Envoi du mail de commande</h3>
    </div>
    <div class="modal-body">
        <div class="col text-center">
            <label class="text-info font-weight-bold">destinataire :</label>
            <div class="input-group" >
                <p>{{emailFournisseur.destinataire}}</p>
            </div>
            <div *ngIf="errorDestinataire" class="alert alert-danger">
                {{errorDestinataire}}
            </div>
        </div>
        
        <div class="col text-center">
            <label class="text-info font-weight-bold">Objet :</label>
            <div class="input-group" >
                <p>{{emailFournisseur.objet}}</p>
            </div>
            <div *ngIf="errorObjet" class="alert alert-danger">
                {{errorObjet}}
            </div>
        </div>
        <div class="col text-center">
            <label class="text-info font-weight-bold">Contenu du mail :</label>
            <div class="input-group" >
                <p>{{emailFournisseur.contenu}}</p>
            </div>
            <div *ngIf="errorTextMail" class="alert alert-danger">
                {{errorTextMail}}
            </div>
        </div>
        

    </div>
        <div class="row">
            <div class="col text-center">
                <button *ngIf = "!requeteEnCours" class="btn btn-primary" (click) = "validerMail()">
                    <i class="now-ui-icons ui-1_simple-add">Envoyer le mail</i>
                </button>
                <button *ngIf = "requeteEnCours" class="btn btn-primary btn-round" 
                    type="button" disabled>
                    <span class="spinner-border spinner-border-sm" 
                    role="status" 
                    aria-hidden="true">
                    </span>
                </button>  
            </div>
        </div>
    </div>
    </div>