<div type="button" class = "iconFermeture" (click)="closeModal()">
    <i class="now-ui-icons ui-1_simple-remove"></i>
</div>
<div class="modal-dialog">
    
    <div class="modal-content">
    <div class="modal-header">
        <h3>Envoi du mail de commande</h3>
    </div>
    <div class="modal-body">
        <div class="col text-center">
            <label>destinataire :</label>
            <div class="input-group" >
                <input type="text" class="form-control"
                name="destinataire" placeholder="Destinataire du mail" 
                [(ngModel)] = "emailFournisseur.destinataire">
            </div>
            <div *ngIf="errorDestinataire" class="alert alert-danger">
                {{errorDestinataire}}
            </div>
        </div>
        <div class="col text-center">
            <label>Objet :</label>
            <div class="input-group" >
                <input type="text" class="form-control"
                name="objet" placeholder="Objet du mail" 
                [(ngModel)] = "emailFournisseur.objet">
            </div>
            <div *ngIf="errorObjet" class="alert alert-danger">
                {{errorObjet}}
            </div>
        </div>
        <div class="col text-center">
            <label>Contenu du mail :</label>
            <div class="input-group" >
                <textarea 
                name = "texteMail"
                placeholder="Contenu du mail" 
                rows="4" 
                [(ngModel)] = "emailFournisseur.contenu"
                class="mt-3">
                </textarea>
            </div>
            <div *ngIf="errorTextMail" class="alert alert-danger">
                {{errorTextMail}}
            </div>
        </div>
        

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click) = "validerMail()">
            <i class="now-ui-icons ui-1_simple-add">Envoyer le mail</i>
        </button>
    </div>
    </div>
    </div>