<div class="page-header page-header-small">
    <div class="page-header-image rellax-header" style="background-image: url('assets/img/backgroundLogin.jpg') ;">
    </div>
    <div class="content-center">
        <div class="row">
            
            <button class="btn btn-primary btnRetour ml-3" [routerLink]="['/accueil']">
                <i class="now-ui-icons arrows-1_minimal-left"></i>
            </button>
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">INTRANET</h2>
                <h4>Epicerie du port - Sainte Marine</h4>
            </div>
            
            
            <button class="btn btn-dark btn-circle p-1 deco mr-3 btnRetour" (click)="deconnexion()">
                DECONNEXION<i class="ml-1 now-ui-icons media-1_button-power"></i>
            </button>
        </div>
    </div>
</div>  