 <!-- CARD PRODUIT -->
 <div class="section pb-0 pt-0">
    <div class="container">
        <div class = "iconFermeture" (click) = "fermer()">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </div>
        <div class="section detailProduit pb-0">
            <div class="container">
                <div class="row" *ngIf = "etiquetteCourante.image.picByte">
                    <div class="col text-center">
                        <div class="fileinput text-center" #input>
                            <div [ngClass]="{'img-circle':isRound}" class="thumbnail img-raised">
                                <img src="{{'data:image/jpg;base64,' + etiquetteCourante.image.picByte}}" alt="..." />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf = "!etiquetteCourante.image.picByte">
                    <div class="col text-center">
                        <div class="fileinput text-center" #input style="display: block;">
                            <div [ngClass]="{'img-circle':isRound}" class="thumbnail img-raised">
                                <img src="assets/img/image_placeholder.jpg" alt="..." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-center sectionEtiquette">
                    <div class="col text-center">
                        <input class="btn btn-raised btn-round btn-default btn-file" 
                        type="file" capture="camera" accept="image/*" 
                        id="cameraInput" name="cameraInput" (change)="changeImageEtiquette($event)">
                    </div>
                </div>
                
                <div class="row border ">
                    <div class="col text-center">
                        <h5>
                            Produit
                        </h5>
                        <div class="row" *ngIf = "etiquetteCourante.produitTraiteur">
                            <div class="col text-center">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-3 text-center ">
                                            <h6>
                                                Nom : <br>
                                                {{etiquetteCourante.produitTraiteur.nom}}
                                            </h6>
                                            <div *ngIf = "etiquetteCourante.produitTraiteur.image.picByte" class="fileinput text-center" #input>
                                                <div [ngClass]="{'img-circle':isRound}" class="thumbnail img-raised">
                                                    <img src="{{'data:image/jpg;base64,' + etiquetteCourante.produitTraiteur.image.picByte}}" alt="..." />
                                                </div>
                                            </div>
                                            <div *ngIf = "!etiquetteCourante.produitTraiteur.image.picByte" class="fileinput text-center" #input style="display: block;">
                                                <div [ngClass]="{'img-circle':isRound}" class="thumbnail img-raised">
                                                    <img src="assets/img/image_placeholder.jpg" alt="..." />
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                            </div>
                        </div>
                       
                        <div class="row" >
                            <div class="col text-center">
                                <div class="row">
                                    <div class="col text-center">
                                        <i *ngIf = "index > 0" 
                                            class="now-ui-icons arrows-1_minimal-left"  
                                            (click) = "minusIndex()"></i>
                                    </div>
                                    <div class="col text-center">
                                        <h4 class="mt-1">
                                            <input type="text" placeholder="*********"
                                            name = "rechercheProduit"
                                            [(ngModel)] = "rechercheStringProduit">
                                        </h4>
                                        <button class="btn btn-secondary" (click) = "rechercheProduit()">Recherche</button>
                                    </div>
                                    <div class="col text-center">
                                        <i *ngIf = "listeProduitTraiteur.length == 4" 
                                        class="now-ui-icons arrows-1_minimal-right" 
                                        (click) = "addIndex()"></i>
                                    </div>
                                </div>
                                

                                <div class="row" *ngIf = "listeProduitTraiteur.length > 0">
                                    
                                    <div class="col-3 text-center" *ngFor = "let produit of listeProduitTraiteur" (click) = selectProduit(produit)>
                                            <h6>
                                                {{produit.nom}}
                                            </h6>
                                            <div *ngIf = "produit.image.picByte" class="fileinput text-center" #input>
                                                <div [ngClass]="{'img-circle':isRound}" class="thumbnail img-raised">
                                                    <img src="{{'data:image/jpg;base64,' + produit.image.picByte}}" alt="..." />
                                                </div>
                                            </div>
                                            <div *ngIf = "!produit.image.picByte" class="fileinput text-center" #input style="display: block;">
                                                <div [ngClass]="{'img-circle':isRound}" class="thumbnail img-raised">
                                                    <img src="assets/img/image_placeholder.jpg" alt="..." />
                                                </div>
                                            </div>  
                                    </div>
                                    
                                </div>

                                
                            </div>
                            
                        </div>
                        
                        
                    </div>
                </div>

                <div class="row border mt-3">
                    <div class="col-6 text-center">
                        Ouvert le :
                        <h4 class="mt-1">
                            <input class="form-control datetimepicker"
                            name="dp" [(ngModel)]="selectedDateOuverture" 
                            ngbDatepicker #d="ngbDatepicker" 
                            (click)="d.toggle()" data-color="orange" 
                            (ngModelChange)="selectDateOuverture($event)">
                        </h4>
                    </div>
                    <div class="col-6 text-center">
                        A enelever de la vitrine avant le :
                        <h4 class="mt-1">
                            <input class="form-control datetimepicker"
                            name="dp" [(ngModel)]="selectedDateFinVitrine" 
                            ngbDatepicker #e="ngbDatepicker" 
                            (click)="e.toggle()" data-color="orange" 
                            (ngModelChange)="selectDateFinVitrine($event)">
                        </h4>
                    </div>
                    
                </div>
                
                <div class="row border">
                    <div class="col text-center">
                        Numéro de lot :
                        <h4 class="mt-1">
                            <input type="text" placeholder="******"
                            name = "numeroDeLot"
                            [(ngModel)]="etiquetteCourante.numeroDeLot">
                        </h4>
                    </div>
                    <div class="col-2 text-center">
                    </div>
                </div>
                <div class="row" *ngIf = "etiquetteCourante">
                    <div class="">
                        <img class="iconAllergene" *ngFor = "let allergene of etiquetteCourante.listeDesAllergenes" src={{allergene.image}}>
                        
                    </div>
                </div>
            </div>
        </div>
                
    </div>
</div>
<!-- FIN CARD PRODUIT -->
<!-- DETAIL PRODUIT -->

<!-- FIN DETAIL PRODUIT -->

<div class="row" *ngIf = "messageErreur">
    <div class="col text-center text-danger">
        {{messageErreur}}
    </div>
</div>
<div class = "row">
    <div class = "col text-center">
        <button  *ngIf = "!requeteEnCours" class="btn btn-primary mr-3"
        (click) = "fermer()">Annuler</button>
        <button *ngIf = "!requeteEnCours" class="btn btn-primary mr-3"
        (click) = "validerNouvelleEtiquette()">Valider</button>
        <button *ngIf = "requeteEnCours" 
        class="btn btn-primary btn-round" 
        type="button" disabled>
            <span class="spinner-border spinner-border-sm" 
            role="status" 
            aria-hidden="true"></span>
        </button>    
    </div>
</div>