.iconFermeture{
    position: absolute;
    margin: 1vh;
    right: 0;
    top: 0;
    z-index: 100;
}

button{
    color : black;
}
.now-ui-icons {
    display: inline-block;
    font: normal normal normal 32px/1 'Nucleo Outline';
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}